<div >
	
<div style="font-size:16px"><img src="http://fmn002.xnimg.cn/fmn002/pic001/20080721/18/39/large_5709c65.jpg" width="30"/><strong>分测试</strong></div>
<div valign="middle">
<a href="http://group.xiaonei.com/GetTribe.do?id=249509134" target="_blank" title="大家有什么建议，有什么砖头都砸过来吧">对“缘分测试”有建议和反馈？欢迎到群里来留帖和开发者跟其他的用户交流。</a>
</div>
   <div style="text-align:center"><xn:iframe src="http://www.bottlebbs.cn/myttd.asp"  frameborder="0" width="660" height="342"/></div>
<div style="float:none;">	
		<div style="float:left;width:390px;text-align:center;">
		<xn:profile-pic uid="loggedinuser" linked="true" size="main" /><br>
		你好<xn:name uid="loggedinuser" linked="true" shownetwork="false" />，选择一个好友来和你进行缘分测试吧	
		</div>
	<div  style="float:right;width:390px">
	<form action="friendtest/index">
	
	<xn:multi-friend-selector max="1"/>
	<br>
	如果需要测试的姓名不在好友中，也可以手动在下框输入<br>
	<input type="text" value="" name="diyid"/><br>
	<input type="hidden" value="post" name="act"/>
	<input type="submit" class="inputsubmit" value="点击测试"/>
	</form>	</div>
</div>

</div>