<center>
  <%= link_to "<xn:name uid=\"#{message.user_xid}\" />", {:controller => :home, :action => :me, :page => (@page.to_i - 1),:params => {:ids => message.user_xid}}, {:class => "chn",:title => "点击查看TA的心理年龄" } -%>: 
  <span><%=h message.message -%></span>
</center>

