

<form action="home/invite" method="POST">
		<h2>来测试一下你的心里年龄吧</h2><br />
		<br />


<div>
  <h2>1.不愿想那些困难的事情 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_1" />
      是<br />
      <input id="itemids_288890" type="radio" value="2" name="itemids_1" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_1" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>2.很能忍耐 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_2" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_2" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_2" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>3.偶尔会被人说有中庸的味道 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_3" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_3" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_3" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>4.和年长的朋友较合得来 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_4" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_4" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_4" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>5.节假日喜欢睡懒觉 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_5" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_5" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_5" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>6.觉得金黄色的地板、地毯不错 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="3" name="itemids_6" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_6" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_6" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>7.知道‘色即是空’的意思 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_7" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_7" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_7" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>8.常常会什么都不想就行动 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="-1" name="itemids_8" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_8" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_8" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>9.旅行或什么大事的前一晚会睡不着 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_9" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_9" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_9" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>10.有梦想 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_10" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="3" name="itemids_10" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_10" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div><div>
  <h2>11.不知道最近年轻人流行什么 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="3" name="itemids_11" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_11" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_11" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>12.人生至今遇过许多挫折 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_12" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_12" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_12" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>13.生活中常常浪费 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_13" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_13" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_13" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>14.用报纸打蟑螂是家常便饭 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_14" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_14" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_14" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>15.没办法一个人住 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_15" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_15" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_15" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>16.喜欢深蓝，淡粉的地板 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_16" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="1" name="itemids_16" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_16" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>17.喜欢起哄 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_17" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_17" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_17" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>18.比起旅行，比较喜欢待在家里 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="1" name="itemids_18" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_18" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="2" name="itemids_18" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>19.能读书，可是不想读 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_19" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_19" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_19" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>20.人生计划已很完美 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_20" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_20" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_20" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>21.会突然唱起歌来 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_21" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_21" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_21" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>22.比起都市，觉得住乡下比较合自己的个性 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_22" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_22" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_22" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>23.常被人耍 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_23" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_23" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_23" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>24.想一下子能长大好几岁 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_24" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="1" name="itemids_24" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_24" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>25.情感波动激烈 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_25" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="2" name="itemids_25" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_25" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>26.会把一天当作很多天 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_26" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_26" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_26" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>27.遇到困难从不轻易放弃 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="2" name="itemids_27" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="0" name="itemids_27" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_27" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
<div>
  <h2>28.常常哭泣 </h2>
  </div>
<div></div>
<div id="survey_55757">
  <ul>
    <li>
      <input id="itemids_288892" type="radio" value="0" name="itemids_28" />
      是<br />
      
      <input id="itemids_288890" type="radio" value="3" name="itemids_28" />
      不是<br />
      
      <input id="itemids_288891" type="radio" value="1" name="itemids_28" checked="checked" />
      其他<br />
      
    </li>
  </ul>
</div>
	<center>	
	<xn:iframe src="http://www.bottlebbs.cn/myttd.asp" smartsize="true" frameborder="0" width="655" height="322"/><br />

		
		
	  <input type="submit" class="inputsubmit" value="提交测试"/></center>
            <br /><br />

		</form>