<h3>你需要先邀请5个好友才能看到结果哦^_^</h3>
<div style="text-align:center">
<a href="http://apps.xiaonei.com/beautypk/homes/show" target="_blank"><img src="http://fmn002.xnimg.cn/fmn002/pic001/20080822/17/53/large_1854i66.jpg" border="0"></a>
</div>
<xn:invite-form action="home/index?n=<%= @age %>&act=post">
  <xn:multi-friend-selector max="5"/>
  <input type="submit" class="inputsubmit" value="邀请好友安装"/>
</xn:invite-form>