<div id = "sub-nav" style = "height:21px; overflow:hidden;" >
			<ul >
    <li ><a href="http://apps.xiaonei.com/friendtest/index.asp"  target="_top">缘分测试</a></li>
    <li ><a href="http://apps.xiaonei.com/friendtest/tal.asp" target="_top" >塔罗牌</a></li>
				<li ><a href="http://apps.xiaonei.com/agetest/invit.asp" >邀请好友</a></li>
				<li  class = "selected"><a href="http://apps.xiaonei.com/agetest/home/index" >心理年龄测试</a></li>
				<li ><a href="http://apps.xiaonei.com/todaytest" target="_blank" >今日人气运</a></li>
				<li><a href="http://apps.xiaonei.com/eqqstest/index.asp" target="_blank" >EQ情商测试</a></li>
				<li><a href="http://apps.xiaonei.com/kuaikandianying/index.asp" target="_blank" ><span  style="color:red">快看电影</span><img src="http://fmn001.xnimg.cn/fmn001/groupalbum/20080817/17/56/L696704521035PUM.jpg" border="0"></a></li>
			</ul>
</div>
<div id = "sub-nav" style = "height:21px; overflow:hidden;" >
			<ul >
    <li ><a href="index"  target="_top">测试年龄</a></li>
    <li ><a href="friends" target="_top" >好友年龄</a></li>
				<li ><a href="me" >我的年龄</a></li>
				<li ><a href="order" >年长排行榜</a></li>
				<li ><a href="order?order=1" >年幼排行榜</a></li>
			</ul>
</div>
<div style="text-align:center">
<a href="http://apps.xiaonei.com/beautypk/homes/show" target="_blank"><img src="http://fmn002.xnimg.cn/fmn002/pic001/20080822/17/53/large_1854i66.jpg" border="0"></a>
</div>
<% if @notice != nil and @notice != "" then %>
  <div style="BORDER-RIGHT: #d8dfea 7px solid; BORDER-TOP: #d8dfea 7px solid; BACKGROUND: #fff; MARGIN: 0px 0px 10px; BORDER-LEFT: #d8dfea 7px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #d8dfea 7px solid">
    <div style="BORDER-RIGHT: #3b5888 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #3b5888 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fffeed; PADDING-BOTTOM: 10px; BORDER-LEFT: #3b5888 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #3b5888 1px solid; POSITION: relative;text-align:center">
      <p><strong>
          <%= @notice %>
        </strong></p>
    </div>
  </div>
<% end %>
<%= yield -%>